.btn-floating.btn-large {
  width: 80px !important;
  height: 81px !important;
  padding-top: 13px !important;
}

.btn-floating.btn-large:hover{
 font-size: 40px;
 
}

.hola-puto{
  margin-top: 0px !important;
}

body {
  /* color: #fff; */
  font-family: 'Roboto', Helvetica, Arial, sans-serif;
}
.titulo{
  text-align: center;
}
.circle {
  border-radius: 0% !important;
  margin: 0 auto;
}
.title-tcs {
  text-align: center !important;
}

.parrafo {
  text-align: center !important;
  color: #000 !important;
  font-size: 32px;
  padding: 10px;
}
.titleInt {
  color: white;
  display: block;
  text-align: center; 
  font-size: 3.56rem;
    line-height: 110%;
    margin: 1.78rem 0 1.424rem 0;
    font-weight: 400;
    box-sizing: inherit;
    -webkit-margin-before: 0.83em;
    -webkit-margin-after: 0.83em;
    -webkit-margin-start: 0px;
    -webkit-margin-end: 0px;
}
h2 {
  color: white;
}

.menssage {
  visibility: hidden;
  min-width: 250px;
  margin-left: -125px;
  background-color: #8bc34a;
  /*#333;*/
  color: #fff;
  text-align: center;
  border-radius: 2px;
  padding: 16px;
  position: fixed;
  z-index: 1;
  left: 13%;
  /* bottom: 30px; */
  font-size: 17px;
  border-radius: 10px;
}

.menssage.show {
  visibility: visible;
  -webkit-animation: fadein 0.5s, fadeout 5.8s 5.8s;
  animation: fadein 0.8s, fadeout 5.8s 5.8s;
}

@-webkit-keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@keyframes fadein {
  from {
    bottom: 0;
    opacity: 0;
  }
  to {
    bottom: 30px;
    opacity: 1;
  }
}

@-webkit-keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

@keyframes fadeout {
  from {
    bottom: 30px;
    opacity: 1;
  }
  to {
    bottom: 0;
    opacity: 0;
  }
}

h1 {
  font-size: 30px;
  margin: auto;
  margin-top: 50px;
}

.containerMapa {
  /* max-width: 900px; */
  width: 100%;
  margin: auto;
  /* background-color: #0e577a; */
}


/* Specific mapael css class are below
         * 'mapael' class is added by plugin
        */

.mapael .map {
  position: relative;
}

.mapael .mapTooltip {
  position: absolute;
  background-color: #fff;
  /* moz-opacity: 0.70; */
  opacity: 0.70;
  filter: alpha(opacity=70);
  border-radius: 10px;
  padding: 10px;
  z-index: 1000;
  max-width: 200px;
  display: none;
  color: #343434;
}

.mapael .areaLegend {
  margin-bottom: 20px;
}


/* For all zoom buttons */

.mapael .zoomButton {
  background-color: #fff;
  border: 1px solid #ccc;
  color: #000;
  width: 15px;
  height: 15px;
  line-height: 15px;
  text-align: center;
  border-radius: 3px;
  cursor: pointer;
  position: absolute;
  top: 0;
  font-weight: bold;
  left: 10px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -o-user-select: none;
  user-select: none;
}


/* Reset Zoom button first */

.mapael .zoomReset {
  top: 10px;
}


/* Then Zoom In button */

.mapael .zoomIn {
  top: 30px;
}


/* Then Zoom Out button */

.mapael .zoomOut {
  top: 50px;
}

.conten {
  margin: 5% 5%;
}